<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo</title>
  </head>
  <body>
    <div>
      <h1>ToDo</h1>
      <form action="/" method="POST">
        {% csrf_token %} {{form.title}}
        <input type="submit" name="Submit" />
      </form>

      {% for task in tasks %}
      <div>
        {% if task.complete == True %}
        <strike><h2>{{task}}</h2></strike>
        {% else %}
        <h2>{{task}}</h2>
        {% endif %}
        <a href="{% url 'update_task' task.id %}">Update</a>
        <a href="{% url 'delete' task.id %}">Delete</a>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
